WebContent/wsdl/PessoaWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.fiap.com.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.fiap.com.br" xmlns:intf="http://webservice.fiap.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.fiap.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getInformacoes">
    <complexType>
     <sequence>
      <element name="autenticacao" type="xsd:base64Binary"/>
      <element name="idPessoa_Empresa" type="xsd:int"/>
      <element name="idPessoa" type="xsd:int"/>
      <element maxOccurs="unbounded" name="campos" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInformacoesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getInformacoesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="validarAutenticacao">
    <complexType>
     <sequence>
      <element name="chave" type="xsd:base64Binary"/>
      <element name="idPessoa" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="validarAutenticacaoResponse">
    <complexType>
     <sequence>
      <element name="validarAutenticacaoReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="validarAutenticacaoRequest">

      <wsdl:part element="impl:validarAutenticacao" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInformacoesResponse">

      <wsdl:part element="impl:getInformacoesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInformacoesRequest">

      <wsdl:part element="impl:getInformacoes" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="validarAutenticacaoResponse">

      <wsdl:part element="impl:validarAutenticacaoResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="PessoaWS">

      <wsdl:operation name="getInformacoes">

         <wsdl:input message="impl:getInformacoesRequest" name="getInformacoesRequest"/>

         <wsdl:output message="impl:getInformacoesResponse" name="getInformacoesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="validarAutenticacao">

         <wsdl:input message="impl:validarAutenticacaoRequest" name="validarAutenticacaoRequest"/>

         <wsdl:output message="impl:validarAutenticacaoResponse" name="validarAutenticacaoResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PessoaWSSoapBinding" type="impl:PessoaWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getInformacoes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInformacoesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInformacoesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="validarAutenticacao">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validarAutenticacaoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validarAutenticacaoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PessoaWSService">

      <wsdl:port binding="impl:PessoaWSSoapBinding" name="PessoaWS">

         <wsdlsoap:address location="http://localhost:8080/TccWeb/services/PessoaWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
